@model ProyectoLourtec2023.GestionPedido.UI.Models.ViewModels.VendedorViewModel

@{
    ViewData["Title"] = "Inicio";
    Layout = "~/Views/Shared/LayoutPrincipal.cshtml";
}

<div>
    <p class="welcome">Bienvenido al Sistema de Gestion de pedidos</p>
    <p class="saludo">Hola, Usuario</p>
    <p class="datetime-home" id="datetime"></p>

</div>